/* código omitido */

body {
    background-color: #0d120e;
    color: rgb(247, 7, 7);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2d3424;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}